header {
    background: white url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
